#canvas{
    display: block;
  }
  
  body{
    margin: 0px;
    padding: 0px;
  }
  
  html{
      margin: 0px;
      padding: 0px;
  }

  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
  .actions{
    position: fixed;
    top: 0px ;
    left: 0px;
    border:1px solid red;
    display: inline-block;
  }
  .actions > svg {
    width: 1.5em;
    height: 1.5em;
  }
  
  