#canvas{
    display: block;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
  }
 
*{
      margin: 0px;
      padding: 0px;
  }
ul,ol {
  list-style:none;
}
  .icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
  .actions{
    position: fixed;
    top: 0px ;
    left: 0px;
    display: inline-block;
  }
  .actions > svg {
    width: 1.5em;
    height: 1.5em;
    padding: 20px;
    margin: 0 10px;

  }
  .actions > svg.active {
    fill:rgb(177, 171, 171);
    transform: scale(1.2);
    transition: 0.2s;
  }
  .colors {
    position: fixed;
    top: 80px;
    left: 25px;
  }
  .colors li {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
  }
  .colors li.active{
    box-shadow: 0 0 3px rgba(0,0,0,0.95);
  }
  .colors li.red {
    background: red;
  }
  .colors li.yellow {
    background: yellow;
  }
  .colors li.blue {
    background: blue;
  }
  .ftWeight {
    position: fixed;
    left: 25px;
    top: 180px;
  }
  .ftWeight > li {
    background: black;
    margin: 15px 0;
  }
  .ftWeight >li.thin {
    height: 5px;
    width: 30px;
  }
  .ftWeight >li.thick {
    height: 8px;
    width: 30px;
  }
  .ftWeight > li.active {
    transform: scale(1.05);
    transition: 0.2s;
    box-shadow: 0 0 1.5px rgba(0,0,0,0.8);
  }
  